* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  .container {
    width: 1200px;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
  }
  .container > h1:first-child {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .form-area {
    margin-top: 2rem;
  }
  .form-area input {
    width: 100px;
  }
  
  .form-area table {
    padding-left: 4.6rem;
  }
  .form-area table thead th {
    cursor: pointer;
  }
  
  tbody tr td {
    padding: 1rem;
  }
  .p_races {
    display: flex;
    align-items: center;
  }
  .icon-wrapper {
    color: #ee0000;
    margin-left: 10px;
    cursor: pointer;
  }
  .icon-wrapper > * {
    pointer-events: none;
  }
  tbody tr td input {
    height: 40px;
    outline: none;
    background-color: #ebebeb;
    border: none;
    padding: 0rem 1rem;
  }
  tbody tr td input.active {
    background-color: #c3c3c3 !important;
    cursor: not-allowed;
  }
  tbody tr td:nth-child(5) input,
  tbody tr td:nth-child(6) input {
    width: 100%;
  }
  .add-row-options {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .add-row-options h2 {
    font-size: 17px;
    margin-right: 1rem;
  }
  .add-row-options button {
    background-color: #ebebeb;
    width: 100px;
    border: none;
    height: 40px;
    outline: none;
    color: #ee0000;
    font-size: 2rem;
    cursor: pointer;
  }
  .winner-area {
    text-align: left;
    width: 100%;
    margin-top: 5rem;
    font-size: 20px;
  }
  
  @media screen and (max-width: 1250px) {
    .container {
      width: 95% !important;
    }
  }
  