{% extends "base.html" %}

{% load static %}
{% block main %}
<head>
  <!-- poppins font -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" /> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{% static 'css/home.css'%}" /> 
</head>

<body>
  <section class="container">
    <h1>Predict Race Winners</h1>
    <form class="form-area">
      <table>
        <thead>
          <tr>
            <th id="race">Race ID</th>
            <th id="Horse">Horse ID</th>
            <th id="Weight">Weight</th>
            <th id="Age">Age (days)</th>
            <th id="Days">Days past since most recent race (days)</th>
            <th id="p_races">Number of previous races</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="race">
              <input type="text" id="raceID"/>
            </td>
            <td class="Horse">
              <input type="text" id="horseID"/>
            </td>
            <td class="Weight">
              <input type="text" id="weight"/>
            </td>
            <td class="Age">
              <input type="text" id="ageInDays"/>
            </td>
            <td class="Days">
              <input type="text" id="daysSinceLastRace"/>
            </td>
            <td class="p_races">
              <input type="text" id="nPastRaces"/>
              <div class="icon-wrapper">
                <i class="far fa-trash-alt"></i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="race">
              <input type="text" id="raceID"/>
            </td>
            <td class="Horse">
              <input type="text" id="horseID"/>
            </td>
            <td class="Weight">
              <input type="text" id="weight"/>
            </td>
            <td class="Age">
              <input type="text" id="ageInDays"/>
            </td>
            <td class="Days">
              <input type="text" id="daysSinceLastRace"/>
            </td>
            <td class="p_races">
              <input type="text" id="nPastRaces"/>
              <div class="icon-wrapper">
                <i class="far fa-trash-alt"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="add-row-options">
        <h2>Add Row</h2>
        <button>+</button>
      </div>
      
      <button type="submit">Predict</button>

    </form>
    
    <h1 class="winner-area">Winner:</h1>
  </section>

  <script src="{% static 'js/index.js'%}"></script>

  <script>
    $(document).on("submit", "#post-form", function(e){
      e.preventDefault();
      $.ajax({
        type:"POST",
        url:"{% url '' %}", // What goes here?
        data:[{ // Need dictionary for each row..
          raceID:$('#raceID').val(),
          horseID:$('#horseID').val(),
          weight:$('#weight').val(),
          ageInDays:$('#ageInDays').val(),
          daysSinceLastRace:$('#daysSinceLastRace').val(),
          nPastRaces:$('#nPastRaces').val(),
          action: 'post'
        }],
        success:function(json){
          document.forms["post-form"].reset();
          document.getElementById("raceID").innerHTML = json["raceID"]
          document.getElementById("horseID").innerHTML = json["horseID"]
        },
        error:function(xhr, errmsg, err){

        }

      });
    })
  </script>

</body>

{% endblock %}
